img.avatar-navbar {
    background-color: azure;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle
}

.container {
    width: 80%;
}

.navbar {
    position: fixed;
    z-index: 99;
}

.navbar-container {
    padding-bottom: 6.4rem;
}