/* Navbar */
.navbar {
    z-index: 9999; 
}

.navbar-container {
    padding-bottom: 5rem;
}

.nav.navbar-nav li {
    float: left;
}

/* Landing */
.landing {
    position: relative;
    background: url("https://www.models-resource.com/resources/big_icons/22/21899.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 93.9vh;
    margin-top: -24px;
    margin-bottom: -50px;
}

.landing-inner {
    padding-top: 15%;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Clieckeable elements */
.clickable
{
    cursor: pointer;
}

a:not([href]):not([tabindex]).post-action{
    color: grey;
}

a:not([href]):not([tabindex]).post-action:hover{
    color: black;
}

a:not([href]):not([tabindex]).post-action.is-active{
    color: #17a2b8;
}

/* Comment item */
.comment-item {
    border-radius: 1.5rem;
    display: inline-block;
    color: #fff;
    background-color: #17a2b8;
    width: 80%;
    padding: .50rem;
    padding-left: 1.50rem;
    padding-right: 1.50rem;
    margin-bottom: .75rem;
    margin-top: -.2rem;
}

.username-link {
    cursor: pointer;
    color: black;
}

.username-link:hover {
    text-decoration: underline;
}

/* Fixes */
img.avatar-navbar {
    background-color: azure;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle
}

.list-group-item {
    padding: 0px;
}

.post-item {
    margin-top: 1rem;
    /*box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; */ /* Mucha sombra*/
    box-shadow: 0 .35rem .5rem rgba(0,0,0,.15)!important; /* Poca sombre*/
    border-radius: .25rem!important;
}

.simple-header {
    background-color: "#fff";
    border-bottom: "none";
}

.material-icons {
    vertical-align: bottom;
}

.sticky-top {
    height: 10px;
    top: 5rem;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(233, 231, 231, 0.8), rgba(204, 197, 197, 0.8));
    background: -webkit-radial-gradient(rgba(233, 231, 231, 0.8), rgba(204, 197, 197, 0.8));
  }