/* Navbar */
.navbar {
    z-index: 99; 
}

.navbar-container {
    padding-bottom: 6.4rem;
}

.nav.navbar-nav li {
    float: left;
}

/* END Navbar*/

/* Clieckeable elements */

.clickable
{
    cursor: pointer;
}

.clickable .glyphicon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}
/* END Clieckeable elements */

/* Fixes */
img.avatar-navbar {
    background-color: azure;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle
}

.container {
    width: 80%;
}

.list-group-item {
    padding: 0px;
}

.post-item {
    margin: 1rem;
}

.simple-header {
    background-color: "#fff";
    border-bottom: "none";
}

.material-icons {
    vertical-align: bottom;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(233, 231, 231, 0.8), rgba(204, 197, 197, 0.8));
    background: -webkit-radial-gradient(rgba(233, 231, 231, 0.8), rgba(204, 197, 197, 0.8));
  }